.section_cadastrar {

}
.section_cadastrar_background_container {

}
.formulario {
  height: auto;
  width: 66.67%;
  margin: 0px auto 0px auto
}
.formulario_tittle {

}
.formulario_info {

}
.formulario_info_required label span {
  margin-bottom: 15px;
}
.formulario_info_required label input {
  margin-bottom: 30px;
}
.formulario_info_sexo {

}
.formulario_info_propaganda {

}
.formulario_info_caixa-comentario {

}